<table class="table">
    <thead>
      <tr>
        <th >#</th>
        <th *ngFor="let warehouse of warehouses">{{warehouse.section}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th >floor 3</th>
        <td>Section</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th >floor 2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th>floor 1</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>

 